footer.footer.navbar-fixed-bottom
  .container
    p.text-center &copy;2014-2015 Tsingda Edu
    .contact-us.text-center
      ul.list-inline
        li: a(href="javascript:void(0);") 关于我们
        li: a(href="javascript:void(0);") 联系我们