doctype html
html(lang='zh-CN')
  head
    block title
      title #{title || '系统之家'}
    block links
      link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body
    nav.navbar.navbar-default
      //- .container-fluid
      .container
        .navbar-header
            a.navbar-brand(href="http://xitong.tltian.com/", target="_blank") 系统之家
        .navbar-collapse(style="height: auto;")
          ul.nav.navbar-nav
            li.active
              a(href="#index") 网站首页
            li
              a(href="#") 雨林木风
            li
              a(href="#") 深度技术
            li
              a(href="#") 萝卜家园
            li
              a(href="#") 蕃茄花园
            li
              a(href="#") 更多系统
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#") 
                span.glyphicon.glyphicon-star
                |&nbsp;消息
            li
              a(href="#")
                span.glyphicon.glyphicon-user
                |&nbsp;个人资料
    .container
      ol.breadcrumb
        li
          a(href="#") Home
        li
          a(href="#") Library
        li data
      block content
        |There is nothing to show!
    footer.footer.navbar-fixed-bottom
      .container
        p.text-center &copy;2014-2015 Tsingda Edu

        .contact-us.text-center
          ul.list-inline
            li 
              a(href="javascript:void(0);") 关于我们
            li 
              a(href="javascript:void(0);") 联系我们
      
